<!-- ABOUT PAGE -->

{% extends 'layout.html' %}

{% block body %}
<style>
  #main-container {
    margin: 3rem auto 34%;

  }
</style>

<h2 class="lead text-white">
  What is Hacking Server.
</h2>

<hr class="mb-3 text-white">

<p class="text-white">
  Hacking Server is a web server
  with some scripts to use and
  download, it's free code. Made for <a href="https://www.github.com/EduardYan" target="_blank" rel="noreferrer">Daniel Yanes.</a>
  He is not responsible for the use of the scripts uploaded to the server. It's just a server practice.
</p>

{% endblock %}
